<h1>Image compression</h1>

<input type="file" (change)="fileChange($event)" accept="image/*" multiple />

<!-- <div>
  Your selected image: <br/>
  <a [href]="selectedImageTrusted" target="_blank" *ngIf="selectedImage">
    <img [src]="selectedImageTrusted">
  </a>
</div> -->

<div>
  Resized:
  <br>
  @if(resizedImage && resizedImage!=='processing') {
    <a [href]="resizedImageTrusted" target="_blank">
      <img [src]="resizedImageTrusted" class="img-thumbnail">
    </a>
  }
  @if(resizedImage==='processing') {
    <i>processing</i>
  }
</div>

<!-- <div>
  Compressed:
  <a [href]="compressedImageTrusted" target="_blank" *ngIf="compressedImage && compressedImage!=='processing'">
    <img [src]="compressedImageTrusted">
  </a>
  <i *ngIf="compressedImage==='processing'">processing</i>
</div> -->